.bee {
  // animation-iteration-count: infinite;
  //  animation-timing-function: ease-in;
  /* background: #fff; */
  background-image: url("/assets/img/bee-1.png");
  top: 285px;
  left: 100px;
  height: 12rem;
  width: 12rem;
}

.to-ong-rong {
  background-image: url("/assets/img/to-ong-rong.svg");
}

.to-ong-mat {
  background-image: url("/assets/img/to-ong.svg");
}

.hive {
  /* background: #fff; */
  width: 250px;
  height: 250px;
  @apply bg-contain bg-no-repeat;
}

.fly {
  animation-name: bee;
  animation-duration: 5s;
  transition: all 0.5s;
  z-index: 1;
}

.sad {
  animation-name: sadd;
  transition: all 0.5s;
  animation-duration: 5s;
  // top: 285px;
  // left: 100px;
  // height: 8rem;
  // width: 8rem;
  // background-image: url("/assets/img/bee-1.png");
  // animation-iteration-count: infinite;
}

.honey {
  animation-name: hive;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-timing-function: ease-in;
  transition: all 0.5s;
}

.jars-honey {
  animation-name: jars;
  animation-duration: 2s;
  // animation-timing-function: ease-in;
  transition: all 0.5s;
  // background-image: url("/assets/img/jars.png");
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 330px;
  left: 90px;
  animation-delay: 1.5s;
  // animation-iteration-count: infinite;
  @apply bg-contain bg-no-repeat;
}

@keyframes jars {
  0% {
    top: 330px;
    left: 90px;
    background-image: url("/assets/img/jars.png");
  }
  // 25% {
  //   top: 380px;
  //   left: 90px;
  //   background-image: url("/assets/img/jars.png");
  // }
  100% {
    top: 430px;
    left: 50px;
    background-image: url("/assets/img/jars.png");
  }

}


@keyframes bee {
  0% {
    top: 285px;
    left: 100px;
    background-image: url("/assets/img/bee-2.png");
  }
  25% {
    top: 340px;
    left: 75px;
    height: 10rem;
    width: 10rem;
    background-image: url("/assets/img/bee-2.png");
  }
  40% {
    top: 65px;
    left: 75px;
    height: 10rem;
    width: 10rem;
    background-image: url("/assets/img/bee-2.png");
    transition: all 1s;
  }
  55% {
    top: 60px;
    left: 90px;
    height: 10rem;
    width: 10rem;
    background-image: url("/assets/img/bee-3.png");
    transition: all 2s;
  }
  65% {
    top: 60px;
    left: 85px;
    background-image: url("/assets/img/bee-4.png");
  }

  100% {
    top: 285px;
    left: 100px;
    background-image: url("/assets/img/bee-4.png");
  }
}


@keyframes hive {
  0% {
    background-image: url("/assets/img/to-ong.svg");
  }
  100% {
    background-image: url("/assets/img/to-ong.svg");
  }
}

@keyframes sadd {
  0% {
    top: 285px;
    left: 100px;
    background-image: url("/assets/img/bee-3.png");
  }
  25% {
    top: 230px;
    left: 100px;
    height: 10rem;
    width: 10rem;
    background-image: url("/assets/img/bee-3.png");
  }
  30% {
    top: 228px;
    left: 90px;
    height: 8rem;
    width: 8rem;
    background-image: url("/assets/img/bee-sad.png");
  }
  80% {
    top: 258px;
    left: 95px;
    height: 8rem;
    width: 8rem;
    background-image: url("/assets/img/bee-sad.png");
  }
  100% {
    top: 285px;
    left: 100px;
    background-image: url("/assets/img/bee-4.png");
  }
}