<div class="bg-[url('/assets/img/bg.png')] h-[550px] w-[980px] bg-cover bg-no-repeat">
  <div class="relative h-full">
    <div class="absolute top-10 -left-[60px]">
      <img src="/assets/img/to-ong-rong.png" width="200px" alt="">
    </div>
    <div class="move w-24 rounded h-24 absolute top-48 left-40 bg-contain bg-no-repeat"></div>
  
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 ">
      <!-- <div class="bg-[url('/assets/img/bang.png')] bg-contain bg-no-repeat h-[400px] w-[500px]"></div> -->
      <img src="/assets/img/bang.png"  alt="">
    </div>
  
    <div class="absolute top-10 bottom-14 right-12 space-y-8">
      <div class="flex flex-col justify-between h-full">
        <div class="flex flex-col space-y-1 items-center">
          <img src="/assets/img/ngoi-sao-cuoi.png" width="80px" alt="">
          <div class="font-bold text-xl text-white">0</div>
        </div>
        <div>
          <div class="flex flex-col space-y-4">
            <div class="flex flex-col space-y-1 items-center">
              <img src="/assets/img/loa.png" width="60px" alt="">
              <div class="font-bold text-xl text-white">Nghe lại</div>
            </div>
      
            <div class="flex flex-col space-y-1 items-center">
              <img src="/assets/img/menu.png" width="60px" alt="">
              <div class="font-bold text-xl text-white">Menu</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>